<head>
  <meta charset="utf-8">
  <title>蔵書管理：登録</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="./js/sn3.js"></script>
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/styleReg.css">
  </head>
<div id="header">
<div id="hArea">	

	<div id="hLogo">登録内容修正</div>

	<div id="hNavi">
		<ul><li><img src="/entry_book.jpg"></li></ul>
	</div>

</div>
</div>
<%= link_to '詳細画面', @book %> |
<%= link_to '検索画面', books_path %>
<%= render 'form' %>


