@charset "utf-8";

/* ヘッダーのCSS　*/
div#header{
	height: 80px;
	width: 100%;
	margin: 5px 0;
}

div#hArea{
	margin: 0 auto;
	height: 80px;
	width: 980px;
}

div#hLogo{
	float: left;
	padding: 30px 0 0 0;
	font-size: 20px;
	font-weight: bold;
}

div#hNavi{
	height: 80px;
}

div#hNavi  ul li{
	float: right;
	padding: 10px;
}

div#hNavi img{
	height: 60px;
}

/* メインのCSS　*/
div#main{
	height: 60px;
	width: 100%;
}

div#SchArea{
	margin: 0 auto;
	height: 60px;
	width: 980px;
}

div#SchTxt{
	padding: 0 auto;
	height: 50px;
	width: 100%;
}

.form-control{
	height: 50px;
	width: 90%;
	margin-left: 10px;
	float: left;
}

.sch_icon{
	width: 7%;
	margin-left: 10px;
	display: inline-block;
}


/* コンテンツのCSS　*/
div#Contents{
	width: 100%;
	margin-top: 10px;
	margin-bottom: 20px;
	clear: both;
}

div#SchRes{
	margin: 0 auto;
	width: 980px;
	overflow:hidden;
}

/* コンテンツの左側　*/
div#Squeeze{
	width: 180px;
	margin: 0 10px;
	float: left;
/*	border: solid 1px green; */
}

#Squeeze h3{
	margin: 6px auto;
}

div#SquMenu{
/*	border: solid 1px #f8f8f8; */
	margin-bottom: 20px;
}

div#Squtype{
	border-bottom: solid 1px #f8f8f8;
	background-color: #f0ffff;
	margin-bottom: 10px;
}

div#Squtype:hover{
	background-color: #afeeee;
}

div#typeBox ul{
	list-style-type: none;
	margin-bottom: 5px;
}

div#Squpubyear{
	border-bottom: solid 1px #f8f8f8;
	background-color: #f0ffff;
	margin-bottom: 10px;
}

div#Squpubyear:hover{
	background-color: #afeeee;
}

/* コンテンツの右側　*/
div#Result{
	width: 750px;
	margin: 0 10px;
	float: right;
}

div#list{
	margin: 10px;
	padding: 10px;
	overflow:hidden;
	clear: both;
	border-bottom: solid 1px #dcdcdc
}

div#datelist{
	width: 75%;
	height: 100px;
	float: left;
}

div#datelist td{
	word-wrap:break-word;
}

.title{
	font-size: 30px;
	text-decoration: none;
	clear: both
}

div#lAicon{
	width: 10%;
	display: inline-block;
}

div#lAicon dl{
	border: solid 1px #d3d3d3;
	width: 50px;
	margin: 1px ;
	padding: 2px;
	border-radius: 5px;
	background-color: #fdf5e6;
}