@charset "utf-8";

/* ヘッダーのCSS　*/
div#header{
	height: 80px;
	width: 100%;
	margin: 5px 0;
}

div#hArea{
	margin: 0 auto;
	height: 80px;
	width: 980px;
}

div#hLogo{
	float: left;
	padding: 30px 0 0 0;
	font-size: 20px;
	font-weight: bold;
}

div#hNavi{
	height: 80px;
}

div#hNavi  ul li{
	float: right;
	padding: 10px;
}

div#hNavi img{
	height: 60px;
}

/* メインのCSS　*/
div#regMain{
	width: 100%;
}

div#Reg{
	margin: 5px auto;
	height: 700px;
	width: 980px;
}

label{
	display: inline-block;
	vertical-align:top;
}

.date{
	margin: 5px;
}

/* メインの左側　*/
div#infoMain{
	margin: 0 auto;
	padding: 5px;
	height: 650px;
	width: 60%;
	float: left;
	font-size: 13px;
/*	background-color: pink;*/
}

#infoMain label{
	width: 20%;
}

#infoMain textarea{
	height: 40px;
	width: 70%;
}

textarea#bacNo{
	height: 15px;
	width: 70%;
}

textarea#linkNo{
	height: 15px;
	width: 30%;
}

/* メインの右側　*/
div#infoEtc{
	margin: 0 auto;
	padding: 5px;
	height: 650px;
	font-size: 13px;
/*	background-color: orange;*/
}

#infoEtc label{
	width: 10%;
}

div#infoEtc textarea{
	height: 15px;
	width: 20%;
}

